---
import { Icon } from 'astro-icon/components';

type SocialLink = {
  href: string;
  iconName: string;
  name: string;
};

const { focused } = Astro.props;

const links = [{ href: '/', id: 'inicio', name: 'Inicio' }];

const socialLinks: SocialLink[] = [
  {
    href: 'https://github.com/sierrapablo',
    iconName: 'fa7-brands:github',
    name: 'GitHub',
  },
  {
    href: 'https://instagram.com/itspabloagain',
    iconName: 'fa7-brands:instagram',
    name: 'Instagram',
  },
  {
    href: 'https://x.com/slpslpsl',
    iconName: 'fa7-brands:x-twitter',
    name: 'X',
  },
];
---

<nav class="bg-neutral-100/70 text-neutral-700 sticky top-0 z-50 backdrop-blur">
  <div class="max-w-screen-xl mx-auto px-4 flex items-center justify-between py-6 relative">
    <!-- Placeholder vacío -->
    <div class="w-8"></div>

    <!-- Enlaces centrados -->
    <ul class="absolute left-1/2 -translate-x-1/2 flex flex-row gap-4">
      {
        links.map(({ href, id, name }) => (
          <li>
            <a
              href={href}
              class={`font-semibold px-2 py-1 rounded-sm transition-colors duration-300 hover:text-blue-500 hover:bg-blue-200 ${
                focused === id ? 'text-blue-500' : ''
              }`}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>

    <!-- Enlaces a la derecha con Social -->
    <ul class="flex-row gap-4 hidden sm:flex">
      {
        socialLinks.map((item) => (
          <a
            href={item.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={item.name}
            class="transition-all duration-300 hover:drop-shadow-[0_0_6px_white] text-neutral-700 hover:text-blue-500"
          >
            <Icon name={item.iconName} class="w-6 h-6" />
          </a>
        ))
      }
    </ul>
  </div>
</nav>
