---
import {PROJECTS_API_ENDPOINT} from "astro:env/server";

type Project = {
  title: string;
  description: string;
  link: string;
  technologies: string[];
};

const response = await fetch(PROJECTS_API_ENDPOINT);
const projects: Project[] = await response.json();
---

<section class="flex flex-col items-center flex-1 w-full py-2 px-4">
  <div class="flex-1 grid gap-4 sm:grid-cols-2">
    {
      projects.map((project) => (
        <a
          href={project.link}
          target="_blank"
          rel="noopener noreferrer"
          class="bg-neutral-100 p-2 shadow rounded-md gap-2 duration-200 ease-in-out hover:scale-105 hover:shadow-2xl hover:bg-white flex flex-col justify-between transition-all"
        >
          <div>
            <h3 class="text-lg text-blue-500 font-bold mb-1">
              {project.title}
            </h3>
            <p class="text-sm text-neutral-700 mb-2">{project.description}</p>
          </div>
          <div class="mt-auto text-xs text-gray-500 flex gap-2 flex-wrap">
            {project.technologies.map((tech) => (
              <span class="bg-blue-200 text-neutral-800 rounded px-2 py-0.5">
                {tech}
              </span>
            ))}
          </div>
        </a>
      ))
    }
  </div>
</section>
